
.pageHeader {
    display:flex;
    justify-content: center;
    color: blueviolet;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.shop {
    margin: 5px;
    padding: 5px;
    background-color: pink;
    border: dotted 2px black;
    flex-basis: 20%;
}